html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

span {
  display: inline-block;
}

.wrapper {
  background-color: rgb(248, 244, 244);
}

.main_header {
  padding: 20px 20px;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header_box-menu {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(110, 106, 106);
  border-radius: 5px;
}

.header_box-user {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.header_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header_box2-a {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0px 300px 10px 10px;
}

.header_box2-p {
  color: grey;
}
.header_box2-p::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../../img/search.svg);
  position: relative;
  top: 8px;
}

.header_box2-myi {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header_box3 {
  padding-top: 20px;
}

.header_box3-ovicon {
  color: #000;
  font-size: 22px;
  margin-right: 20px;
}

.header_box3-overview::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../../img/over.jpg);
  position: relative;
  top: 12px;
}

.header_box3-repos::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../../img/repos.jpg);
  position: relative;
  top: 12px;
}

.header_box3-pro::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../../img/pro.jpg);
  position: relative;
  top: 12px;
}

.header_box3-pack::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../../img/pack.jpg);
  position: relative;
  top: 12px;
}

.header_box3-star::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../../img/star.jpg);
  position: relative;
  top: 12px;
}

.btn_block {
  position: relative;
}

.btn_line {
  display: none;
  border: 3px solid #fd8c73;
  position: absolute;
  width: 123px;
  border-radius: 5px;
}

.btn_line2 {
  display: none;
  position: absolute;
  border: 3px solid #fd8c73;
  width: 160px;
  border-radius: 5px;
  left: 145px;
}

.header_box3-m {
  display: none;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-image: url(../../img/search.svg);
}

@media screen and (max-width: 1000px) {
  .header_box2-a {
    display: none;
  }
  .header_box3-m {
    display: inline-block;
  }
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__box {
  width: 320px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.hero__box-img1 {
  max-width: 320px;
  max-height: 320px;
  border-radius: 50%;
}

.hero__box-img {
  padding-bottom: 30px;
}

.hero__box-title {
  padding-bottom: 10px;
}

.hero__box-text {
  padding-bottom: 10px;
}

.hero__box-btn {
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  border: 1px solid grey;
}
.hero__box-btn:hover {
  cursor: pointer;
}

.hero__box-follow {
  color: grey;
}

.hero__box-folw::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../../img/followers.jpg);
  background-size: 15px 15px;
}

.hero__box-ff {
  padding-top: 20px;
}

.num {
  font-weight: 600;
}

.hero__box-list {
  width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.hero__box2 {
  display: none;
  padding-top: 50px;
  padding-left: 20px;
}

.hero__box2-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__box2-box_title {
  margin-right: 450px;
}

.hero__box_item-box {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
}

.hero__box-item {
  width: 400px;
  list-style: none;
}

.hero__box_item-box_text {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px 5px;
}

.hero__box_item-box_text-span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(20, 17, 163);
}

.hero__box_item-box_text-spans {
  padding: 1px 9px;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: rgb(5, 4, 77);
}

.hero__box_item-box-public {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 27px;
}

.hero__repositorie {
  display: none;
}

.hero__repos {
  padding-top: 50px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

.hero__repos-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
}

.hero__repos-input {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 7px 200px 7px 10px;
}

.hero__repos-select_sels {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 7px 7px;
}

.hero__repos-btn {
  padding: 7px 10px 7px 15px;
  border-radius: 6px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.hero__repos-span_public {
  padding: 5px 5px;
  border: 1px solid grey;
  border-radius: 6px;
}

.hero__repos-block_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.hero__repos-box_span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(12, 19, 125);
}

.hero__repos-block_box2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.hero__repos2-block1 {
  max-width: 700px;
}

.hero__repos2 {
  width: 845px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid grey;
}

.hero__repos2-block2_span {
  padding: 5px 7px 5px 8px;
  border: 1px solid grey;
  border-radius: 6px;
}
.hero__repos2-block2_span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url(../../img/star.jpg);
  background-size: 20px 20px;
  position: relative;
  top: 3px;
  right: 4px;
}

.hero__follow_box {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__follow-name {
  padding-left: 40px;
}

.hero__follow-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hero__follow-btn {
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.hero__follow-img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=main.css.map */